*, html {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: rgb(56, 130, 130);
}

.page {
display: flex;
flex-direction: column;
}
.page_content {
display: flex;
flex-direction: column;
margin: 0 auto;
}

a{
text-decoration: none;
color: white;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
width: 1298px;
height: 60px;
padding: 40px 0;
margin-top: 20px;
margin-bottom: 20px;
/* border: 1px solid black; */
}

.header nav ul {
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
color: white;
}

.header nav ul li {
padding: 0 10px;
font-size: 20px;
}

.header .btn-container .btn1 {
background-color: #018ABE;
color: white;
border: none;
padding: 8px 16px;
border-radius: 5px;
}

.page_content .section1 {
width: 1296px;
height: 600px;
background-image: url(./img/section1img.svg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;
/* border: 1px solid black; */
}

.section1 .subt-line {
display: flex;
justify-content: center;
align-items: center;
}
.section1 .sect1_subt-line .subtitle1 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
color: #FFFFFF;
}

.section1 .title {
font-size:64px;
font-weight: bold;
margin-bottom: 10px;
color: #FFFFFF;
}

.section1 .brand {
font-size: 64px;
font-weight: bold;
color: #FFFFFF;
}

.section1 .subt-line .leaf {
font-size: 6px;
margin: 0 10px;
}

.page_content .section2 {
width: 1296px;
height: 699x;
display: flex; 
flex-direction: column;
justify-content: start;   
align-items: center;
margin-top: 100px;
margin-bottom: 100px;
}

.sect2_subt-line {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px;
}

.section2 .sect2_subt-line .subtitle2 {
font-size: 42px;
font-weight: bold;
color: #FFFFFF;
}


.sect2_imgcont {
display: flex;
justify-content: center;
gap: 10px;
}

.sect2-cont1 {
display: flex;
flex-direction: column;
align-items: start;
}

.sect2-cont2 {
display: flex;
flex-direction: column;
align-items: start;
gap: 15px;
}

.sect2-cont3 {
display: flex;
flex-direction: column;
align-items: start;
gap: 15px;
}

.section3 {
display: flex;
flex-direction: column;
align-items: center;
width: 1296px;
height: 585px;
margin: 0 auto;
}

.sect3_subt-line {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px;
}

.section3 .sect3_subt-line .subtitle3 {
font-size: 42px;
font-weight: bold;
color: #FFFFFF;
} 

.section3 .sect3-imgcont {
display: flex;
justify-content: center;
gap: 20px;
margin-bottom: 20px;
} 

.section3 .sect3-imgcont > .card {
width: 400px;
height: 290px;
padding: 15px !important;
border-radius: 10px;
border: 1px solid #018ABE;
background-color: #018ABE;
color: white;
}

.sect3-imgcont, .card > h4 {
font-size: 20px;
padding: 5px 0;
}

.sect3-imgcont, .card > p {
font-size: 14px;
}

.sect3-imgcont .card {        
transition: 0.3s ease; 
}
.card:hover {
transform: scale(1.05);
position: relative;
}  

.section4 {
display: flex;
flex-direction: column;
align-items: center;
width: 1076px;
height: 1024px;
margin: 0 auto;
}

.section4 .sect4-cont{
display: flex;
align-items: center;
width: 1076px;
height: 765px;
margin: 0 auto;
position: relative;
}

.sect4_subt-line {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px;
}

.section4 .sect4_subt-line .subtitle4 {
font-size: 42px;
font-weight: bold;
color: #FFFFFF;
} 

.section4 .sect4-cont .sect4-one{
position: absolute;
top: 50px;
left: 0;
width: 466px;
height: 370px;
}

.section4 .sect4-imgone{
position: absolute;
top: 0;
right: 0;
}

.section4 .sect4-imgtwo{
position: absolute;
bottom: 0;
left: 0;
}

.section4 .sect4-two{
position: absolute;
bottom: 0;
right: 0;
width: 466px;
height: 370px;
}


.sect4-cont, .sect4-fc1, div > h4 {
font-size: 24px;
font-weight: bold;
color: #FFFFFF;
padding: 20px 0;
}

.sect4-cont, .sect4-fc1, div > p {
font-size: 16px;
font-weight: lighter;
color: #FFFFFF;
padding: 10px 0;
} 

.section5 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1076px;
height: 614px;
margin: 0 auto;
}

.sect5_subt-line {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px; 
}

.section5 .sect5_subt-line .subtitle5 {
font-size: 42px;
font-weight: bold;
color: #FFFFFF;
} 

.sect5-container {
display: flex;
justify-content: space-between;
align-items: center;  
gap: 100px;
margin-bottom: 100px;
} 

.section5 .sect5-container ul {
list-style: none;
}

.section5 .sect5-container ul li {
padding: 20px 0;
font-size: 18px;
color: white;
}

.cost {
padding: 0 30px; 
float: inline-end;
}

.section6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
    margin: 0 auto;
    margin-bottom: 100px;
    gap: 30px;
}

.sect6-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sect6-cont1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #018ABE;
    border-radius: 5px;
    border: #018ABE;
    padding: 20px 50px 20px 50px;
}

.sect6-cont2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #018ABE;
    border-radius: 5px;
    border: #018ABE;
    padding: 20px 50px 20px 50px;  
}  


.sect6-cont1 .sect6-cont2, ul {
    list-style: none;    
}

.sect6-cont1 .sect6-cont2, ul li {
    padding: 15px 0; 
    color: white;
    font-size: 14px;
}

.sect6-cont1 .sect6-cont2, .sect6-p {
    font-size: 24px;
    font-weight: bold;
}

.sect6-cont1 .sect6-cont2, .btn2 {
    color: #018ABE;
    background-color: white;
    border-radius: 5px;
    border: #018ABE;
    padding: 10px 10px;
}

footer {
    width: 1296px;
    height: 19px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.copyright {
    font-size: 14px;
}

.made {
    font-size: 14px;
    font-weight: bold;
}